* {
  box-sizing: border-box;
  margin: 0;
  font-size: 16px;
}

#root {
  margin: 0 auto;
  text-align: center;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
li,
ul {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  padding: 1rem 2rem;
  height: 85px;
  background-color: #25afe665;

  h1 {
    font-size: 1.5rem;
  }
}

.header-logo-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search-form {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
}

.search-input {
  font-size: 1rem;
  padding: 0.5rem 2rem;
  line-height: 2rem;
  border-radius: 1.5rem;
  border: 1px solid #ddd;
}

.search-button {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 1rem 2rem;
  border: 1px solid rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 250ms;
}

.main-loader-wrapper {
  height: calc(100vh - 10rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  max-height: calc(100vh - 85px);
  overflow-y: auto;
  scroll-snap-type: y mandatory;
}

.genre-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-bottom: 2rem;
  scroll-snap-align: start;

  h2 {
    padding-left: 1rem;
  }
}

.genre-sub-container {
  display: flex;
  gap: 1rem;
  max-width: 100vw;
  padding: 1rem;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
}

.genre-sub-container::-webkit-scrollbar {
  height: 8px;
}

.genre-sub-container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.87);
  border-radius: 4px;
}

.movies-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.search-results {
  min-height: calc(100vh - 10rem);

  h2 {
    padding: 1rem;
  }
}
